<section class="row">
    <div class="col-12 col-md-6 col-xl-6 order-2 order-md-1" id="homeText">
        <h3 class="pb-5">The Rick & Morty API </h3>
        <p>Based on the television show Rick and Morty, this API provides information about the characters, locations and episodes of the show.</p>
        <a class="btn btn-success w-50 mt-5 p-3 fs-4" [routerLink]="['/characters']">Start!</a>
    </div>
    <div class="col-12 col-md-6 col-xl-6 order-1 order-md-2 ">
        <div class="d-flex justify-content-center">
            <figure class="d-flex justify-content-center">
                <img class="img-fluid" src="https://i.pinimg.com/originals/f8/f3/c3/f8f3c3e177614d714df81f9294ee11ff.png" alt="Rick&Morty">
            </figure>
        </div>
    </div>
</section>