<div class="row g-3 px-5">
    <h1 class="text-center">Characters</h1>
    <div class="col-12">
        <div class="d-flex justify-content-center gap-5">
            <!-- Botones para cambiar de página -->
            <button class="btn btn-success" (click)="previousPage()">Prev</button>
            <button class="btn btn-success" (click)="nextPage()">Next</button>
        </div>
    </div>
    <!-- Recorremos el array de personajes -->
    @for(character of characters; track character.id) {
    <app-card-character [character]="character" class="col-12 col-md-4 col-xl-3"></app-card-character>
    }
    <div class="col-12 mb-5">
        <div class="d-flex justify-content-center gap-5">
            <!-- Botones para cambiar de página -->
            <button id="btnUnder" class="btn btn-success" (click)="previousPage()">Prev</button>
            <button id="btnUnder" class="btn btn-success" (click)="nextPage()">Next</button>
        </div>
        <button class="btn btn-success position-fixed m-3 px-3" style="bottom: 20px; right: 20px;" (click)="scrollTop()">TOP</button>
    </div>
</div>